<html>
    <head>
        <title>Bookishh</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}">
        <script src="{{url_for('static', filename='script.js')}}"></script>
    </head>
    <body>
        <div class="card text-center">
            <div class="card-header">
                Find your next awesome read
            </div>
            <div class="card-body">
              <h5 class="card-title">Please enter a book you like:</h5>
              <form action="/" method="post">
                <input type="text" id="book" required name="book" list="books" autocomplete="off">
                <datalist>
                {% for book in books%}
                    <option>{{book}}</option>
                {% endfor %}    
                </datalist>
                <input class="btn btn-primary" type="submit" name="recommend" onclick="change();">
              </form>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div id="spinner" class="spinner-border" role="status">
            </div><br></br>
            <strong id="notify"></strong>
        </div>
        <script>
            var input= document.querySelector("#book"), datalist = document.querySelector("datalist"); 
            input.addEventListener("keyup", (e) => {
                if (e.target.value.length >= 3) {
                    datalist.setAttribute("id", "books");
                } else {
                    datalist.setAttribute("id", "");
                }
            });
        </script>
        {% if recoms %}
            <div class="card text-center">
                <div class="card-header">
                    {{get_flashed_messages()[0]}}
                </div>
            </div>
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
                    {% for recom in recoms %}
                    <div class="col">
                        <img src={{recom[1]}} class="card-img-top" alt="cover">
                        <div class="card-body">
                            <h5 class="card-title">{{recom[0]}}</h5>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </body>
</html>